<footer class="bg-cyan uk-padding">
  <div id="team" class="uk-container">
    <div class="uk-flex uk-flex-middle" uk-grid>
      <div class="uk-width-1-5@m">
        <img class="" data-src="{{'/assets/images/logo_parrilla_2021.png' | prepend:site.baseurl_root }}" width="200" height="100" alt="" uk-img><br>
      </div>
      <div class="uk-width-3-5@m">
        <div class="uk-flex uk-flex-middle" uk-grid>
          <div class="uk-width-1-2@m">
            <p class="uk-padding-remove uk-margin-remove white uk-text-lead">A prender</p>
            <h2 class="uk-padding-remove white uk-margin-remove">#LaParrillaVeggie</h2>
          </div>
          <div class="uk-width-1-2@m uk-width-1-1 uk-hidden@m uk-text-center">
            <p class="white "> Un proyecto de </p>
            <a class="" target="_blank" href="https://recetasdejavi.cl" onclick="gtag('event', 'Web recetasdejavi por logo en footer', { 'event_category': 'recetasdejavi', 'value': '1'})">
              <img class="uk-margin uk-margin-right" data-src="{{'/assets/images/comprimidas/logo_recetasdejavi.png' | prepend:site.baseurl_root }}" width="110" height="100" alt="" uk-img>
            </a>
            <a class="" target="_blank" href="https://labnave.cl" onclick="gtag('event', 'Web labnave por logo en footer', { 'event_category': 'labnave', 'value': '1'})">
              <img class="" data-src="{{'/assets/images/comprimidas/logo_labnave.png' | prepend:site.baseurl_root }}" width="110" height="100" alt="" uk-img>
            </a>
          </div>
          <div class="uk-width-1-2@m uk-width-1-1 uk-visible@m">
            <p class="white uk-text-center"> Un proyecto de </p>
            <div class="uk-flex uk-flex-middle" uk-grid>
              <div class="uk-width-1-2@m uk-text-right">
                <a class="" target="_blank" href="https://recetasdejavi.cl" onclick="gtag('event', 'Web recetasdejavi por logo en footer', { 'event_category': 'recetasdejavi', 'value': '1'})">
                  <img class="" data-src="{{'/assets/images/comprimidas/logo_recetasdejavi.png' | prepend:site.baseurl_root }}" width="110" height="100" alt="" uk-img>
                </a>
              </div>
              <div class="uk-width-1-2@m uk-text-left">
                <a class="" target="_blank" href="https://labnave.cl" onclick="gtag('event', 'Web labnave por logo en footer', { 'event_category': 'labnave', 'value': '1'})">
                  <img class="" data-src="{{'/assets/images/comprimidas/logo_labnave.png' | prepend:site.baseurl_root }}" width="110" height="100" alt="" uk-img>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="uk-width-1-5@m">
        <p class="white uk-text-small"> Este sitio web utiliza Google Analytics para analizar el tráfico que recibe y Cloudflare para administrar los DNS. </p>
      </div>
    </div>
  </div>

</footer>
