<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0" name="viewport">

  <!-- Primary Meta Tags -->
  <title>#LaParrillaVeggie, por @Recetasdejavi</title>
  <meta name="title" content="#LaParrillaVeggie, de @recetasdejavi">
  <meta name="description" content="Disfruta y comparte en tus redes sociales con el hashtag #LaParrillaVeggie">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://laparrillaveggie.cl">
  <meta property="og:title" content="#LaParrillaVeggie, de @recetasdejavi">
  <meta property="og:description" content="Disfruta y comparte en tus redes sociales con el hashtag #LaParrillaVeggie">
  <meta property="og:image" content="https://laparrillaveggie.cl/assets/images/comprimidas/image-share-compress.png">

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://laparrillaveggie.cl">
  <meta property="twitter:title" content="#LaParrillaVeggie, de @recetasdejavi">
  <meta property="twitter:description" content="Disfruta y comparte en tus redes sociales con el hashtag #LaParrillaVeggie">
  <meta property="twitter:image" content="https://laparrillaveggie.cl/assets/images/comprimidas/image-share-compress.png">

  <!-- UIkit CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/css/uikit.min.css" />

  <!-- UIkit JS -->
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.2/dist/js/uikit-icons.min.js"></script>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-99634423-2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-99634423-2');
  </script>

  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/0647769654797b3149f22bcf9/e28d1ed60fffa08db84771390.js");</script>

  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <script src="{{ "/assets/main.js" | relative_url }}"></script>

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
