<nav  id="desktop-navbar" class="uk-navbar-container bg-pink white uk-padding-large uk-padding-remove-bottom uk-padding-remove-top uk-visible@s" uk-navbar>
  <div class="uk-navbar-left ">
    <a class="uk-navbar-item uk-logo" target="_blank" href="https://recetasdejavi.cl" onclick="gtag('event', 'Web recetasdejavi por logo en navbar', { 'event_category': 'recetasdejavi', 'value': '1'})">
      <img class="" data-src="{{'/assets/images/logo-recetasdejavi.png' | prepend:site.baseurl_root }}" width="100" height="100" alt="" uk-img>
    </a>
    <a class="uk-navbar-item uk-logo" target="_blank" href="https://labnave.cl" onclick="gtag('event', 'Web labnave por logo en navbar', { 'event_category': 'labnave', 'value': '1'})">
      <img class="" data-src="{{'/assets/images/logo-labnave.png' | prepend:site.baseurl_root }}" width="60" height="100" alt="" uk-img>
    </a>
  </div>
  <div class="uk-navbar-right ">
    <a class="uk-navbar-item uk-logo" target="_blank" href="https://www.instagram.com/explore/tags/laparrillaveggie/">#LaParrillaVeggie</a>
  </div>
</nav>

<nav class="uk-navbar-container bg-pink white uk-padding-large uk-padding-remove-bottom uk-padding-remove-top  uk-hidden@s" uk-navbar>
  <div class="uk-navbar-center">
    <a class="uk-navbar-item uk-logo" target="_blank" href="https://recetasdejavi.cl" onclick="gtag('event', 'Web recetasdejavi por logo en navbar', { 'event_category': 'recetasdejavi', 'value': '1'})">
      <img class="" data-src="{{'/assets/images/logo-recetasdejavi.png' | prepend:site.baseurl_root }}" width="100" height="100" alt="" uk-img>
    </a>
    <a class="uk-navbar-item uk-logo" target="_blank" href="https://labnave.cl" onclick="gtag('event', 'Web labnave por logo en navbar', { 'event_category': 'labnave', 'value': '1'})">
      <img class="" data-src="{{'/assets/images/logo-labnave.png' | prepend:site.baseurl_root }}" width="50" height="100" alt="" uk-img>
    </a>
  </div>
</nav>
