---
# Only the main Sass file needs front matter (the dashes are enough)
---

// @import "minima";


$pink: #FF506C;
$cyan: #6bb19c;
$green: #bacd66;
$purple: #A2679B;

.bg-pink{
  background-color: $pink !important;
}

.bg-cyan{
  background-color: $cyan !important;
}

.bg-green{
  background-color: $green !important;
}

.a-purple{
  color: $purple;
}

.a-purple:hover,
.a-purple:focus{
  color: $purple;
  text-decoration: underline;
}

.white{
  color: white !important;
}

h1, h2, h3, h4, h5, p, .uk-h1, .uk-h2, .uk-h3 {
  font-family: 'Montserrat', sans-serif;
}

p{
  color: black;
}

.uk-text-small{
  color: black;
}

.uk-h1, .uk-h2, .uk-h3{
  color: $cyan;
}

.uk-h1{
  font-weight: bold;
}

h1{
  font-size: 3rem;
}

h3{
  font-size: 2.5rem;
  color: $cyan;
}

h1, h2{
  font-weight: 700;
}

h4{
  font-weight: bold;
  color: #333;
}

.uk-logo {
  font-size: 1.5rem;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.uk-logo:hover,
.uk-logo:focus{
  color: white;
  text-decoration: underline;
}

.uk-text-lead {
  font-size: 1.1rem;
}

.cyan-container {
  border-style: solid;
  border-color: $cyan;
  border-radius: 4px;
}

.uk-button-primary{
  background-color: $green;
  color: #333;
  // font-weight: 900;
  // font-family: 'Montserrat', sans-serif;
  // text-transform: capitalize;
  // font-size: 1.2rem;
  border-radius: 22px;
}

.uk-button-primary:hover,
.uk-button-primary:focus{
  background-color: lighten($green, 10%);
  color: #333;
  text-decoration: none;
}

.uk-button-secondary{
  background-color: white;
  border-color: $pink;
  color: $pink;
  font-weight: 900;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
  font-size: 1.2rem;
  border-radius: 22px;
}


.uk-button-secondary:hover,
.uk-button-secondary:focus{
  background-color: darken(white, 10%);
}

a.uk-link-text,
.uk-link-text{
  color: $pink;
}

a.uk-link-text-white{
  color: white;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
}

.uk-icon-button:hover{
  color: lighten($pink, 5%);
}

.uk-icon-button{
  color: $pink;
}

.uk-section-secondary{
  background-color: black;
}

.p-number{
  font-size: 4rem;
  font-weight: 500;
  color: #333;
}

.p-number-subtitle{
  color: #333;
}

.uk-input-withouth-width{
  max-width: 100%;
  width: 300px;
}