<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "es" }}">

  {%- include head.html -%}

  <body>

    <!-- {%- include header.html -%} -->

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="uk-section">
          <div class="uk-container uk-container-small">
            <div class="uk-container uk-container-small">
              <style> .pdf-embed-wrap-7e00863d-2a54-4ebd-bdca-b58f2121c354 { display:flex; flex-direction: column; width: 100%; height: 1000px; } .pdf-embed-container-7e00863d-2a54-4ebd-bdca-b58f2121c354 { height: 100%; } .pdf-link-7e00863d-2a54-4ebd-bdca-b58f2121c354 { background-color: white; text-align: center; border-style: none; } .pdf-embed-container-7e00863d-2a54-4ebd-bdca-b58f2121c354 iframe { width: 100%; height: 100%; } </style>
              <div class="pdf-embed-wrap-7e00863d-2a54-4ebd-bdca-b58f2121c354">
                <div class="pdf-embed-container-7e00863d-2a54-4ebd-bdca-b58f2121c354">
                  <iframe id="theFrame" src="/{{page.doc}}" frameborder="0" allowfullscreen=""></iframe>
                </div>
                <div class="pdf-link-7e00863d-2a54-4ebd-bdca-b58f2121c354">
                  <a href="/{{page.doc}}" class="a-purple" target="_blank">Descargar PDF</a>
                </div>
              </div>
            </div>
            <!-- {{ content }} -->
          </div>
        </div>
      </div>
    </main>

    <script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
          if (!user) {
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
    <script>
      document.getElementById("theFrame").contentWindow.onload = function() {
        this.document.getElementsByTagName("img")[0].style.width="100%";
      };
    </script>
  </body>

</html>
