---
layout: default
---

<section>
  <!-- Solo en mobile -->
  <div class="uk-cover-container uk-hidden@s" uk-height-viewport>
    <img src="{{'/assets/images/comprimidas/Header_IMG_Mobile_BG.jpg' | prepend:site.baseurl_root }}" alt="" uk-cover>
    <div class="uk-position-center">
      <img class="" data-src="{{'/assets/images/comprimidas/Header_IMG_Mobile_NO-BG.png' | prepend:site.baseurl_root }}" width="800" height="" alt="" uk-img><br>
    </div>
  </div>

  <!-- Solo en desktop -->
  <div class="uk-cover-container uk-visible@s" uk-height-viewport>
    <img src="{{'/assets/images/comprimidas/header_bg.jpeg' | prepend:site.baseurl_root }}" alt="" uk-cover>
    <div class="uk-position-center">
      <img class="" data-src="{{'/assets/images/comprimidas/header_logo.png' | prepend:site.baseurl_root }}" width="" height="" alt="" uk-img><br>
    </div>
    <div class="uk-position-top-right uk-padding uk-text-right">
      <a target="_blank" href="https://recetasdejavi.cl" onclick="gtag('event', 'Web recetasdejavi por logo en hero', { 'event_category': 'recetasdejavi', 'value': '1'})">
        <img class="" data-src="{{'/assets/images/comprimidas/logo-recetasdejavi.png' | prepend:site.baseurl_root }}" width="130" height="100" alt="" uk-img></a><br>
      <a target="_blank" href="https://labnave.cl" onclick="gtag('event', 'Web labnave por logo en hero', { 'event_category': 'labnave', 'value': '1'})">
        <img class="uk-margin-top" data-src="{{'/assets/images/comprimidas/logo-labnave.png' | prepend:site.baseurl_root }}" width="80" height="100" alt="" uk-img>
      </a>
    </div>
  </div>
</section>

<section id="download" class="uk-section uk-section-default uk-container">

  <div class="uk-flex uk-flex-middle" uk-grid>

    <div class="uk-width-2-3@m uk-visible@s">
      <h3 class="uk-padding-remove uk-margin-remove ">A prender</h3>
      <h1 class="uk-padding-remove uk-margin-remove">#LaParrillaVeggie</h1>
      <p class="uk-text-lead"> Disfruta y comparte en tus redes sociales con el hashtag #LaParrillaVeggie </p>
    </div>

    <div class="uk-width-2-3@m uk-hidden@s">
      <h3 class="uk-padding-remove uk-margin-remove uk-h3">A prender</h3>
      <h1 class="uk-padding-remove uk-margin-remove uk-h1">#LaParrillaVeggie</h1>
      <p class="uk-text-lead"> Disfruta y comparte en tus redes sociales con el hashtag #LaParrillaVeggie </p>
    </div>

    <div class="uk-width-1-3@m">
      <div class="uk-text-center">
        <div class="cyan-container uk-padding uk-padding-small">
          <h4> Tu parrilla vegana <br>a solo un click </h4>
           <a onclick="gtag('event', 'Descarga directa en pagina de inicio', { 'event_category': 'download', 'value': '1'})" href="/laparrillaveggie_volII_sep2020.pdf" class="uk-input button uk-button-primary" download="LaParrillaVeggie2020"> Descarga directa</a>
          <!-- Begin Mailchimp Signup Form -->
          
        </div>
        <!--End mc_embed_signup-->
      </div>
    </div>
  </div>
</section>

<section id="mega" class="uk-section uk-section-muted">
  <div class="uk-container uk-text-center">
    <iframe width="728" height="409" src="https://www.youtube-nocookie.com/embed/jhJ4jB3PL-8" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen uk-responsive></iframe>
  </div>
</section>

<section class="about">
  <div class="uk-cover-container">
    <canvas width="400" height="780"></canvas>
    <img src="{{'/assets/images/comprimidas/hero-javi.png' | prepend:site.baseurl_root }}" alt="" uk-cover>
    <div class="uk-position-center uk-padding uk-text-center">
      <div class="uk-container uk-container-small">
        <p class="uk-text-lead white"> ¡Hola! Soy <span class="uk-text-bold"> Javiera Quiroz</span>, Chef especialista en cocina basada en plantas.<br> Te invito a compartir y difundir lo que comemos durante las fiestas patrias en Chile y demostrar que se puede celebrar con preparaciones exquisitas y variadas sin alimentos de origen animal. </p>
        <a onclick="gtag('event', 'Patreon recetasdejavi', { 'event_category': 'social media recetasdejavi', 'value': '1'})" href="https://patreon.com/recetasdejavi" class="uk-link-text-white"><span uk-icon="heart" ></span> Apoya mi trabajo |</a>
        <a onclick="gtag('event', 'Instagram recetasdejavi', { 'event_category': 'social media recetasdejavi', 'value': '1'})" href="https://instagram.com/recetasdejavi" class="uk-link-text-white"><span uk-icon="instagram" ></span> @recetasdejavi |</a>
        <a onclick="gtag('event', 'Blog recetasdejavi', { 'event_category': 'social media recetasdejavi', 'value': '1'})" href="https://recetasdejavi.cl" class="uk-link-text-white"><span uk-icon="world" ></span> Mi blog de recetas </a>
      </div>
    </div>
  </div>
</section>

<section id="team" class="uk-section uk-section-default uk-container">
  <div class="" uk-grid>
    <div class="uk-width-1-3@m">
      <h2 class="">Colaborador@s #LaParrillaVeggie</h2>
      <p> Junto a más de 30 colaboradores, construimos una revista o recetario digital dieciochero para que descubras sabores, te inspires y participes. Tiene más de 20 recetas: picoteos, preparaciones para tirar a la parrilla, acompañamientos, ensaladas, postres dulces y una sección de tragos, además de consejos y algunas sorpresas. ¡Que lo disfrutes! </p>
    </div>
    <div class="uk-width-2-3@m">
      <div class="uk-text-center" uk-grid>
        {% assign team = site.data.team %}
        {% for t in team %}
          <div class="uk-width-1-3@m uk-width-1-2">
            <a class="uk-link-text" href="{{t.instagram_url}}" target="_blank" onclick="gtag('event', 'Instagram {{t.instagram}}', { 'event_category': 'social media team', 'value': '1'})">
              <img class="uk-border-circle" src="/assets/images/comprimidas/colaboradores/{{t.photo}}" width="200" height="200" alt="{{t.name}}">
            </a>
            <br>
            <p class="uk-text-bold uk-margin-remove-bottom"> {{t.name}}</p>
            <p class="uk-margin-remove-top uk-margin-remove-bottom"> {{t.position}}</p>
            <a onclick="gtag('event', 'Instagram {{t.instagram}}', { 'event_category': 'social media team', 'value': '1'})" class="uk-link-text" href="{{t.instagram_url}}" target="_blank"> @{{t.instagram}} </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="support" class="uk-section uk-section-default uk-container">
  <div class="" uk-grid>
    <div class="uk-width-1-3@m">
      <h2 class="">Nos apoyan</h2>
      <p> Todas estas marcas apoyan y creen en este proyecto. Estamos tod@s unid@s tratando de transformar el mundo para que sea mejor 💟 </p>
    </div>
    <div class="uk-width-2-3@m">
      <div class="uk-text-center" uk-grid>
        {% assign marcas = site.data.marcas.marcas %}
        {% for m in marcas %}
          <div class="uk-width-1-4@m uk-width-1-3 uk-flex uk-flex-middle">
            <a class="uk-link-text" href="{{m.web}}" target="_blank" onclick="gtag('event', 'Marca {{m.name}}', { 'event_category': 'website brands', 'value': '1'})">
              <img src="/assets/images/marcas/{{m.logo}}" width="200" height="200" alt="{{m.name}}">
            </a>
            <br>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="prensa" class="uk-section uk-section-default uk-container">
  <div class="" uk-grid>
    <div class="uk-width-1-3@m">
      <h2 class="">Prensa</h2>
      <p> Ver <a class="uk-link-text" href="/ComunicadoLaParrillaVeggie_15092020.pdf" target="_blank" onclick="gtag('event', 'Comunicado de prensa', { 'event_category': 'comunicado prensa', 'value': '1'})"> comunicado de prensa</a></p>
      <!-- <p> Todas estas marcas apoyan y creen en este proyecto. Estamos tod@s unid@s tratando de transformar el mundo para que sea mejor 💟 </p> -->
    </div>
    <div class="uk-width-2-3@m">
      <div class="uk-text-left" >
        {% assign medios = site.data.prensa %}
        {% for m in medios.publicaciones %}
            <p><a class="uk-link-text" href="{{m.link}}" target="_blank" onclick="gtag('event', 'Medio {{m.name}}', { 'event_category': 'website media', 'value': '1'})">
              "{{m.titulo}}"
            </a> en <span class="uk-text-bold">{{m.name}}</span></p>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="thanks" class="uk-section uk-section-secondary">
  <div class=" uk-container uk-container-small uk-text-center">
    <h4> ¡Muchas gracias!</h4>
    <p>
      <span class="uk-text-bold">CONCEPTUALIZACIÓN Y DISEÑO:</span> <a href="https://instagram.com/labnave" target="_blank">@LabNave</a>: David Palma Miranda, Pedro Salas Ramírez, Samah Abdo, Ciro Zerpa.<span class="uk-text-bold"> WEB:</span> Daniela Quiroz Olguín, Francisco Vallés Johnson. <span class="uk-text-bold">EDICIÓN Y PRENSA:</span> Ignacia Sáiz Lynch, Ignacio Waissbluth. <span class="uk-text-bold">FOTOGRAFÍA:</span> Sebastián Quintana. <span class="uk-text-bold">AMOR Y APOYO INCONDICIONAL:</span> Lorena Olguín Rodriguez, Jorge Quiroz León.
    </p>
  </div>
</section>

{{ content }}
