---
layout: default
---

<section>
  <!-- Solo en mobile -->
  <div class="uk-cover-container uk-hidden@s" uk-height-viewport>
    <img src="{{'/assets/images/comprimidas/header_bg_2021_mobile.jpg' | prepend:site.baseurl_root }}" alt="" uk-cover>
  </div>

  <!-- Solo en desktop -->
  <div class="uk-cover-container uk-visible@s" uk-height-viewport>
    <img src="{{'/assets/images/comprimidas/header_bg_2021.jpg' | prepend:site.baseurl_root }}" alt="" uk-cover>
  </div>
</section>

<section id="concurse" class="uk-section uk-section-muted">
  <div class="uk-container uk-container-small uk-text-center">
    <p class="uk-text-lead">
      Este 18, sube a tu story de Instagram una foto o video mostrando <a class="a-purple" href="https://www.instagram.com/explore/tags/laparrillaveggie/" target="_blank">#LaParrillaVeggie</a> y etiquetando a <a class="a-purple" onclick="gtag('event', 'Click en blog recetasdejavi', { 'event_category': 'Click en redes sociales RecetasdeJavi 2021', 'value': '1'})" href="https://recetasdejavi.cl">@RecetasDeJavi</a> para participar por increíbles premios.
    </p>
    <button class="uk-input uk-input-withouth-width button uk-button-primary" type="button" uk-toggle="target: #modal-download">Descargar #LaParrillaVeggie2021</button>
  </div>
</section>

<section id="about" class="uk-section uk-section-default uk-container uk-container-small">
  <div class="" uk-grid>
    <div class="uk-width-3-5@m">
      <h2 class="">#LaParrillaVeggie</h2>
      <p class="uk-text-normal">
        #LaParrillaVeggie es una revista digital hecha para que descubras sabores, te inspires y partícipes.
        </br></br>
        Te invito a compartir y difundir lo que comemos durante este 18 en Chile y demostrar que se puede celebrar con preparaciones exquisitas y variadas sin alimentos de origen animal.
      </p>

      <div>
        <p class="uk-text-small">
          <a onclick="gtag('event', 'Click en instagram recetasdejavi', { 'event_category': 'Click en redes sociales RecetasdeJavi 2021', 'value': '1'})" href="https://instagram.com/recetasdejavi" class="a-purple" target="_blank">
            <span uk-icon="instagram" ></span> recetasdejavi
          </a>
          <br>
          <a onclick="gtag('event', 'Click en blog recetasdejavi', { 'event_category': 'Click en redes sociales RecetasdeJavi 2021', 'value': '1'})" href="https://recetasdejavi.cl" class="a-purple" target="_blank">
            <span uk-icon="world" ></span> Mi blog de recetas
          </a>
        </p>
      </div>

      <!-- This is a button toggling the modal -->
      <!-- <button class="uk-input uk-input-withouth-width button uk-button-primary uk-padding-remove-vertical" type="button" uk-toggle="target: #modal-download">Descargar #LaParrillaVeggie2021</button> -->

    </div>
    <div class="uk-width-2-5@m">
      <div class="uk-text-center">
        <img src="{{'/assets/images/javiera_2.png' | prepend:site.baseurl_root }}" alt="Javiera">
      </div>
    </div>
  </div>
</section>


<section id="stadistics" class="uk-section bg-green">
  <div class="uk-container">
    <div class="uk-child-width-1-2 uk-child-width-1-4@m uk-grid-match uk-grid-small" uk-grid>
      <div class="uk-text-center uk-padding-small">
        <img src="{{'/assets/images/estadisticas/Trabajamos.png' | prepend:site.baseurl_root }}" alt="Trabajamos">
      </div>
      <div class="uk-text-center uk-padding-small">
        <img src="{{'/assets/images/estadisticas/Publicamos.png' | prepend:site.baseurl_root }}" alt="Publicamos">
      </div>
      <div class="uk-text-center uk-padding-small">
        <img src="{{'/assets/images/estadisticas/Descargas.png' | prepend:site.baseurl_root }}" alt="Descargas">
      </div>
      <div class="uk-text-center uk-padding-small">
        <img src="{{'/assets/images/estadisticas/Colaboramos.png' | prepend:site.baseurl_root }}" alt="Colaboración">
      </div>
    </div>
  </div>
</section>


<section id="versions" class="uk-section uk-section-muted">
  <div class="uk-container">
    <div class="uk-child-width-1-3@s uk-grid-match uk-grid-small" uk-grid>

      <!-- 2019 Edition -->
      <div class="uk-text-center uk-padding">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
          <img src="{{'/assets/images/ediciones/Mockup-Ediciones-2019.jpg' | prepend:site.baseurl_root }}" alt="">
          <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
            <div>
              <h4>
                #LaParrillaVeggie <br> 2019
              </h4>
              <p>
                <a target="_blank" onclick="gtag('event', 'Descarga directa en pagina de inicio', { 'event_category': 'Descarga revista 2019', 'value': '1'})" href="/la_parrilla_veggie_2019" class="uk-input button uk-button-primary uk-padding uk-padding-remove-vertical">
                  Descargar
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- 2020 Edition -->
      <div class="uk-text-center uk-padding">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
          <img src="{{'/assets/images/ediciones/Mockup-Ediciones-2020.jpg' | prepend:site.baseurl_root }}" alt="">
          <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
            <div>
              <h4>
                #LaParrillaVeggie <br> 2020
              </h4>
              <p>
                <a target="_blank" onclick="gtag('event', 'Descarga directa en pagina de inicio', { 'event_category': 'Descarga revista 2020', 'value': '1'})" href="/la_parrilla_veggie_2020" class="uk-input button uk-button-primary uk-padding uk-padding-remove-vertical">
                  Descargar
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- 2021 Edition -->
      <div class="uk-text-center uk-padding">
        <div class="uk-inline-clip uk-transition-toggle" tabindex="0">
          <img src="{{'/assets/images/ediciones/Mockup-Ediciones-2021.jpg' | prepend:site.baseurl_root }}" alt="">
          <div class="uk-transition-fade uk-position-cover uk-position-small uk-overlay uk-overlay-default uk-flex uk-flex-center uk-flex-middle">
            <div>
              <h4>
                #LaParrillaVeggie <br> 2021
              </h4>
              <p>
                <a target="_blank" onclick="gtag('event', 'Descarga directa en pagina de inicio', { 'event_category': 'Descarga revista 2021', 'value': '1'})" href="/la_parrilla_veggie_2021" class="uk-input button uk-button-primary uk-padding uk-padding-remove-vertical">
                  Descargar
                </a>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<section id="sponsors" class="uk-section uk-section-default uk-container">
  <div class="" uk-grid>
    <div class="uk-width-1-2@m">
      <h2 class="">Nuestros Aliados</h2>
      <p class="uk-text-normal">
        La alimentación vegana y vegetariana ha ido ganando un importante terreno en la dieta de los chilenos durante los últimos años. Principalmente, por su impacto positivo en el medioambiente y en nuestros cuerpos.
        </br></br>
        Cambia el consumidor, cambian las marcas.
        </br></br>
        Hoy en día las personas prefieren marcas con propósito, que no solamente piensen en el qué decir, sino más bien en el hacer. ¿Qué está haciendo tu marca por el mundo? ¿Qué hace tu marca para tener un mejor futuro?
        </br></br>
        <span class="uk-text-bold">Te invitamos a cambiar juntos <br>¡Empecemos con la parrilla!</span>
      </p>
    </div>
    <div class="uk-width-1-2@m">
      <div class="uk-text-center uk-padding" uk-grid>
        {% assign marcas = site.sponsors | sort: "order" %}
        {% for m in marcas %}
          <div class="uk-width-1-4@m uk-width-1-3 uk-flex uk-flex-middle">
            <a class="uk-link-text" href="{{m.website}}" target="_blank" onclick="gtag('event', '{{m.name}}', { 'event_category': 'Click en website de una marca', 'value': '1'})">
              <img src="{{m.logo}}" width="200" height="200" alt="{{m.name}}">
            </a>
            <br>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>


<section id="thanks" class="uk-section uk-section-muted">
  <div class=" uk-container uk-container-small uk-text-center">
    <h4 class=""> ¡Muchas gracias!</h4>
    <p class="">
      Javiera Quiroz Olguin, Líder de Contenidos. David Palma Miranda, Analista de Marketing. Pedro Salas Ramírez, Director Comercial. Ciro Zerpa Correa, Director Creativo. Daniela Quiroz Olguin, Desarrollo Front End. Claudia Espinoza Gomez, Dirección Digital. Carolina Ferrada Ferrada, Creadora de Contenidos. Valentina Suárez, Community Manager. Nancy Benavente, Encargada de Prensa. Javier Muñoz Poblete, Director de Arte. Santiago Lopez Cammarano, Animador. Sebastián Leiva Muñoz, Planner SEM.
    </p>
  </div>
</section>

<!-- This is the modal -->
<div id="modal-download" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
    <button class="uk-modal-close-default" type="button" uk-close></button>
    <h2 class="uk-modal-title">#LaParrillaVeggie 2021</h2>

    <p>¡Agrega tus datos y podrás concursar por diferentes premios!</p>

    <form name="download" method="POST" data-netlify="true" action="/la_parrilla_veggie_2021">
      <p>
        <label>Tu nombre<input type="text" name="name" class="uk-input"/></label>
      </p>
      <p>
        <label>Tu email
          <input type="email" name="email" class="uk-input"/>
        </label>
      </p>
      <p>
        <label>¿Quieres dejar algun mensaje?
          <textarea name="message" class="uk-textarea"></textarea>
        </label>
      </p>
      <p class="uk-text-right">
        <!-- <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button> -->
        <button class="uk-button uk-button-primary" type="submit">Descargar</button>
      </p>
    </form>
  </div>
</div>

{{ content }}
