{%- include head.html -%}

<section>
  <div class="uk-cover-container uk-hidden@s" uk-height-viewport>
    <img src="{{'/assets/images/comprimidas/Header_IMG_Mobile_BG.jpg' | prepend:site.baseurl_root }}" alt="" uk-cover>
    <div class="uk-position-center">
      <img class="" data-src="{{'/assets/images/comprimidas/Header_IMG_Mobile_NO-BG.png' | prepend:site.baseurl_root }}" width="800" height="" alt="" uk-img><br>
    </div>
    <div class="uk-position-top-center uk-padding">
      <img class="" data-src="{{'/assets/images/comprimidas/pronto.png' | prepend:site.baseurl_root }}" width="150" height="" alt="" uk-img><br>
    </div>
    <div class="uk-position-bottom-center uk-padding">
      <img class="" data-src="{{'/assets/images/comprimidas/fecha.png' | prepend:site.baseurl_root }}" width="250" height="" alt="" uk-img><br>
    </div>
  </div>

  <!-- Solo en desktop -->
  <div class="uk-cover-container uk-visible@s" uk-height-viewport>
    <img src="{{'/assets/images/comprimidas/header_bg.png' | prepend:site.baseurl_root }}" alt="" uk-cover>
    <div class="uk-position-center">
      <img class="" data-src="{{'/assets/images/comprimidas/header_logo.png' | prepend:site.baseurl_root }}" width="800" height="" alt="" uk-img><br>
    </div>
    <div class="uk-position-top-center uk-padding">
      <img class="" data-src="{{'/assets/images/comprimidas/pronto.png' | prepend:site.baseurl_root }}" width="150" height="" alt="" uk-img><br>
    </div>
    <div class="uk-position-bottom-center uk-padding">
      <img class="" data-src="{{'/assets/images/comprimidas/fecha.png' | prepend:site.baseurl_root }}" width="250" height="" alt="" uk-img><br>
    </div>
    <div class="uk-position-top-right uk-padding uk-text-right">
      <a target="_blank" href="https://recetasdejavi.cl"> <img class="" data-src="{{'/assets/images/comprimidas/logo-recetasdejavi.png' | prepend:site.baseurl_root }}" width="130" height="100" alt="" uk-img></a><br>
      <a target="_blank" href="https://labnave.cl"> <img class="uk-margin-top" data-src="{{'/assets/images/comprimidas/logo-labnave.png' | prepend:site.baseurl_root }}" width="80" height="100" alt="" uk-img> </a>
    </div>
  </div>
</section>
